{% extends "base.html" %}

{% block content %}
<form action = "/" method="post">
    <label>
        Username: <input type="text" name="username" value="" />
    </label>
    <br>
    <label>
        Password: <input type="password" name="password" />
    </label>
    <br>
    <label>
       Verify Password: <input type="password" name="verifypassword" />
    </label>
    <br>
    <label>
        Email: <input type="text" name="email" />
    </label>
    <br>
    <input type="submit" value="Submit"/>
</form>

{% endblock %}